{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    <div class="list">
        {% for person in people %}
            {% block person %}
                {% include('@Contao/contao_person/person_detail.html.twig') %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}